html {
  font-size: 14px; /* Default 16px (1em)*/
  font-family: Open Sans, sans-serif; /* Linked to google stylesheet in index */
  background-color: #00539f;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
h3,
h4 {
  margin-bottom: 0.5em; /* Default 1em */
}
p {
  line-height: 1.6;
  margin-top: 0.5em; /* Default 1em */
}
body {
  margin: 0 auto;
  width: 800px;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}
img,
button {
  display: block;
  margin: 0 auto;
  margin-bottom: 2.5em;
}
/* Linearicons.com */
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-home {
  color: #0f52ba;
  /* We can use "color" for setting the color
  of the SVG because we set its "fill" to
  "currentColor" */
  font-size: 40px;
  /* We can use "font-size" for changing the size
  of the SVG because its width and height were
  set 1em.
  To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}

body {
  font-size: 40px;
  font-family: sans-serif;
  color: #555;
}
