html {
  font-size: 14px; /* Default 16px (1em)*/
  font-family: Open Sans, sans-serif; /* Linked to google stylesheet in index */
  background-color: #00539f;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
h3,
h4 {
  margin-bottom: 0.5em; /* Default 1em */
}
p {
  line-height: 1.6;
  margin-top: 0.5em; /* Default 1em */
}
body {
  margin: 0 auto;
  width: 800px;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}
img,
button {
  display: block;
  margin: 0 auto;
  margin-bottom: 2.5em;
}
